//
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.5rem;
    font-family: sans-serif;
}

ul,
li,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.movie-card {
    display: flex;
    padding: 1rem;
    color: #333333;
    flex-direction: column;

    > .movie-card-title {
        display: flex;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    > .movie-card-date,
    > .movie-card-vote,
    > .movie-card-nationality,
    > .movie-card-original-title {
        display: flex;
        font-size: 0.875rem;
        align-items: center;
        line-height: 1.5rem;
        text-transform: capitalize;

        > strong {
            margin-right: 0.25rem;
        }
    }
}
